title: S.C.F.C.の博客
subtitle: '山河虽无恙，吾辈当自强'
description: '一个有趣的博客'
keywords: '博客,S.C.F.C.,一个有趣的博客,SCFC,の,山河虽无恙吾辈当自强,scfc,s.c.f.c.,SC,FC,SCF,CFC,scf,cfc,sfc,山河虽无恙，吾辈当自强'
author: SCFC
language: zh-CN
timezone: ''
url: https://blog.雾.top
permalink: ':year/:month/:day/:title/'
permalink_defaults: null
pretty_urls:
  trailing_index: true
  trailing_html: true
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: ':lang'
skip_render: null
new_post_name: ':title.md'
default_layout: post
titlecase: false
external_link:
  enable: true
  field: site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
syntax_highlighter: highlight.js
highlight:
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false
prismjs:
  preprocess: true
  line_number: true
  tab_replace: ''
index_generator:
  path: ''
  per_page: 10
  order_by: '-date'
default_category: uncategorized
category_map: null
tag_map: null
meta_generator: true
date_format: YYYY-MM-DD
time_format: HH:mm:ss
updated_option: mtime
per_page: 10
pagination_dir: page
include: null
exclude: null
ignore: null
theme: anzhiyu
deploy:
  type: git
  repository: https://github.com/SCFC-PRC/SCFC-PRC.github.io.git
  branch: main
envelope_comment:
  enable: true
  custom_pic:
    cover: https://npm.elemecdn.com/hexo-butterfly-envelope/lib/violet.jpg
    line: https://npm.elemecdn.com/hexo-butterfly-envelope/lib/line.png
    beforeimg: https://npm.elemecdn.com/hexo-butterfly-envelope/lib/before.png
    afterimg: https://npm.elemecdn.com/hexo-butterfly-envelope/lib/after.png
  message:
    - 有什么想问的？
    - 有什么想说的？
    - 有什么想吐槽的？
    - 哪怕是有什么想吃的，都可以告诉我哦~
  bottom: 自动书记人偶竭诚为您服务！
  height: null
  path: null
  front_matter:
    title: 留言板
    comments: true
    top_img: false
    type: envelope
aplayer:
  meting: true
  asset_inject: false
set: scripts.dev
